.add-category {
    background-image: url('../images/register-4.jpg');
    background-position: center;
    background-size: cover;
}

.add-category-form {
    box-shadow: -1px 7px 21px 3px rgba(0, 0, 0, 0.43);

}