.dashboard{
    background-image: url('../images/register-4.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    .container-fluid{
        width: 90%;
        .admin-details{
            background-color: white;
            border-radius: 10px;
            box-shadow: -1px 7px 21px 3px rgba(0,0,0,0.43);
        }
        .cruds{
            background-color: white;
            box-shadow: -1px 7px 21px 3px rgba(0,0,0,0.43);
            border-radius: 10px;
        }
    }
}